body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: rgb(20,20,20);
}

.container{
    display: flex;
    background-color:rgb(60,60,60);
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 0px 1px 1px rgb(0,0,0);
}

#screen{
    margin: 5px;
    width: 370px;
    height: 100px;
    background-color: #6c757d;
    position: relative;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 1px 1px rgb(0,0,0);
}

#operatingscreen{
    text-align: right;
    top:0;
    right:0;
}

#inputscreen{
    position:absolute;
    bottom:0;
    right:0;
    overflow: hidden;
    font-size: 2.5rem;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

#buttoncontainer{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    flex-wrap: wrap;
}

.numBox{
    text-align: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.02);
    border-radius: 10px;
    margin: 10px;
    flex-basis: 20%;
    position: relative;
    border-width: 1px;
    box-shadow: 0px 0px 1px 1px rgb(0,0,0);
}
.numBox:active{
    font-size: 1.9rem;
}

.numBox:hover::before{
    opacity: 1;
}
.numBox::before{
    background: radial-gradient(
        250px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,0.1),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left:0px;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    z-index:2;
    transition: opacity 500ms;
}
/*.numBox:hover{
    background-color: #CED4DA;
    transition-duration: .4s;
}*/

.numBox#enter{
    flex-grow: 2;
}