body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    background-color: #212529;
}

.container{
    display: flex;
    background-color:#495057;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#screen{
    margin: 5px;
    width: 370px;
    height: 100px;
    background-color: #CED4DA;
    position: relative;
    overflow: hidden;
}

#operatingscreen{
    text-align: right;
    top:0;
    right:0;
}

#inputscreen{
    position:absolute;
    bottom:0;
    right:0;
    overflow: hidden;
    font-size: 2.5rem;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

#buttoncontainer{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    flex-wrap: wrap;
}

.numBox{
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    width: 50px;
    height: 50px;
    background-color: #ADB5BD;
    margin: 10px;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numBox:hover{
    background-color: #CED4DA;
    transition-duration: .4s;
}

.numBox#enter{
    flex-grow: 2;
}