body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.container{
    display: flex;
    background-color:antiquewhite;
    width: 400px;
    height: 600px;
    justify-content: center;
}

#screen{
    margin: 5px;
    width: 370px;
    height: 100px;
    background-color: aliceblue;
    text-align: right;
}